@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.app-scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: transparent !important;
  }

  &::-webkit-scrollbar-thumb {
    background: #303030 !important;
    margin-right: 5px;
    border-radius: 10px;
    transition: background 0.2s ease-in-out;
    &:hover {
        background: #505050 !important;
    }
  }
}
